<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IChungLoaiService" />
        <binding name="BasicHttpBinding_IChungLoaiService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cvthanh.somee.com/SOAP/ChungLoaiService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChungLoaiService"
        contract="CVThanhService.IChungLoaiService" name="BasicHttpBinding_IChungLoaiService" />
      <endpoint address="http://localhost:3297/ChungLoaiService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChungLoaiService1"
        contract="LocalService.IChungLoaiService" name="BasicHttpBinding_IChungLoaiService1" />
    </client>
  </system.serviceModel>
</configuration>